/* ------------------------------------- */
/*	2. Utility Classes
/* ------------------------------------- */

.bold {
    font-weight: bold !important;
}

.hide {
    display: none !important;
}

.unhide {
    display: block !important;
}

.unhid--flex {
    display: flex !important;
}



