/* ------------------------------------- */
/*	3. Base/Resets
/* ------------------------------------- */

html {
	font-size: 62.5%; /* 1rem = 10px */
	font: $font-primary;
    padding: 0;
	margin: 0;
	margin-inline: 0 !important;
	margin-block: 0 !important;
	// user-select: none;
	scroll-behavior: smooth;
	overflow-x: hidden;

	&::selection {
		color: var(--color-primary);
	}
}


::-webkit-scrollbar {
	outline: var(--color-primary);
    width: 5px;  
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-grey-light-4);
	border-radius: 10px;
}


body {
	box-sizing: border-box;
	color: #000;
    font-family: $font-primary;
	font-size: 1.8rem;
	letter-spacing: -0.015em;
	text-align: left;
	margin: 0;
	// overflow-x: hidden;
	// overflow-y: scroll;
}

section {
	min-height: 80rem;
}

figure {
	margin: 0;
}

h1 {
	margin: 0;
}


// @supports ( font-variation-settings: normal ) {

// 	body {
//         font-family: $font-primary;
//     }    
// }

a {
	text-decoration: none;
	color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
	margin: 0;
}

*:focus {
	outline: none;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image: url('assets/images/chevron-down.svg');   /* Add custom arrow */
   background-repeat: no-repeat;
   background-position: 90% 50%;
}

button, 
input, {
	border: none;
}

#site-content {
	overflow: hidden;
}